@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>SEO Search</h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label"><span class="text-danger">*</span>&nbsp;&nbsp;Searchable Key Words: ex efiling integration </label>
                    <input type="text" class="form-control" id="keyWords">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label"><span class="text-danger">*</span>&nbsp;&nbsp;URL: ex www.infotrack.com</label>
                    <input type="text" class="form-control" id="urlSearch">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Number of Search Results: Default and Max is 100</label>
                    <input type="text" class="form-control" id="numOfSearchResults">
                </div>
            </div>
        </div>
        <div class="row">
            <button id="submit" type="button" class="btn btn-primary">Get Results</button>
        </div>
        <div id="spinner" class="row justify-content-md-center mt-4">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="result" class="row justify-content-md-center">

        </div>
    </div>

    
</div>
@section Scripts{
    <script>
        var errorMessage=[];
        function validateForm(){
            var keyWords = $.trim($("#keyWords").val());
            var urlSearch = $.trim($("#urlSearch").val());
            var numOfSearchResults = $.trim($("#numOfSearchResults").val());

            if (keyWords === ''){
                errorMessage.push("Missing Keywords");
            }
            if (urlSearch === '') {
                errorMessage.push("URL Search is missing");
            }
            if (numOfSearchResults > 100) {
                errorMessage.push("Search results have to be less than or equal to 100.");
            }

            return true;
        }
        $(function () {
            $("#spinner").hide();

            $("#submit").on("click", function () {
                $("#result").empty(); //Need to clear
                errorMessage = []; //Need to reset
                validateForm();
                if (errorMessage.length > 0) {
                    var $initialDiv = $('<div/>').addClass("m-1 text-danger").append("<span/>").text("ERROR MESSAGE:")
                    $("#result").append($initialDiv);
                    $.each(errorMessage, function (key, value) {
                        var $div = $('<div/>').addClass("m-1 text-danger").append("<span/>").text(value)
                        $("#result").append($div);
                    });
                }
                else{
                    $("#spinner").show();                    
                    var keyWords = $("#keyWords").val();
                    var urlSearch = $("#urlSearch").val();
                    var numOfSearchResults = $("#numOfSearchResults").val();

                    $.ajax({
                        url: "/Home/GetSearchResults",
                        type: "GET",
                        data: {
                            "keyWords": keyWords,
                            "urlSearch": urlSearch,
                            "numOfSearchResults": numOfSearchResults
                        },
                        success: function (response) {
                            $("#spinner").hide();
                            if (response.length === 0) {
                                let output = "NO SEO Locations for " + urlSearch;
                                var $div = $('<div/>').addClass("m-4").append("<span/>").text(output)
                                $("#result").append($div);
                            }
                            else {
                                for (let i = 0; i < response.length; i++) {
                                    let output = "SEO Locations for " + urlSearch + "is position: " + response[i];
                                    var $div = $('<div/>').addClass("m-4").append("<span/>").text(output)
                                    $("#result").append($div);
                                    //alert(response[i]);
                                }
                            }
                        },
                        error: function (xhr) {
                            $("#spinner").hide();
                            alert(xhr);
                        }
                    });
                }                
            });
        });
    </script>
}
